<header>
  <nav>
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/products">Products</a></li>
      <%if(user){%>
      <li><a href="/users">Users</a></li>
      <% } %>
      <li>
        <a href='/<%=user?"logout":"login"%>'
          ><%= user ? 'Logout' : 'Login' %></a
        >
      </li>
      <li class="user">
        <% if (user) { %>
        <p><%= user.email %></p>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
